.ChatBox {
  z-index: 1;
}


.Window {
  background-color: #f9f9f9;
  position: fixed;
  float: left;
  top: 150px;
  left: 40px;
  width: 350px;
  height: 60vh;
  border-radius: 4px;
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: flex-start;
  font-size: 20px;
  box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12), 0 2px 4px -1px rgba(0,0,0,0.3);
}

.ChatScroll {
  height: 100%;
  width: 100%;
  overflow-y: scroll;
}

.ChatScroll::-webkit-scrollbar {
  width: 0.2em;
  height: 0.09em;
}

.ChatScroll::-webkit-scrollbar-thumb {
  background-color: #f46242;
  border-radius: 3px;
}

.ChatControls {
  height: 135px;
  width: 350px;
  display: flex;
  flex-flow: column;
  position: fixed;
  justify-content: space-between;
  bottom: 30px;
  left: 40px;
  align-items: center;
}

.ChatInput {
  font-family: 'Work Sans', sans-serif;
  height: 40px;
  border-radius: 4px;
  border: 2px solid #aaa;
  /* border-style: solid; */
  padding: 5px;
  width: 300px;
  box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12), 0 2px 4px -1px rgba(0,0,0,0.3);
}

.Username {
  font-weight: bold;
  font-size: 1.1em;
}

.Message:after {
  content: '';
	position: absolute;
	bottom: 0;
	left: 10%;
	width: 0;
	height: 0;
	border: 22px solid transparent;
	border-top-color: rgba(144,203,181,.3);
	border-bottom: 0;
	border-left: 0;
	margin-left: -11px;
	margin-bottom: -22px;
}

.MessageRecv:after {
  left: 90%;
}

.Message {
  position: relative;
  padding: 10px;
  margin: 25px 25px 30px 25px;
  font-family: 'Work Sans', sans-serif;
  font-size: .8em;
  display: flex;
  word-break: break-all;
  flex-flow: column;
  align-items: flex-start;
  min-height: 85px;
  width: calc(100% - 40px);
  border-radius: .4em;
  background-color: rgba(144,203,181,.3);
}

.MessageText {
  font-weight: lighter;
  padding: 15px;
  font-size: .95em;
}

.TimeStamp {
  color: #333;
  font-size: .75em;
  position: absolute;
  bottom: 0;
  padding: 10px;
  right: 15px;
}



@media only screen and (max-width: 400px) {
  .Window {
    background-color: #f9f9f9;
    position: absolute;
    top: 130px;
    left: 40px;
    width: 200px;
    height: 45vh;
    border-radius: 4px;
    display: flex;
     flex-flow: column;
    justify-content: flex-start;
    align-items: flex-start;
    font-size: 14px;
    box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12), 0 2px 4px -1px rgba(0,0,0,0.3);
  }

  .ChatInput {
    font-family: 'Work Sans', sans-serif;
    height: 30px;
    border-radius: 4px;
    border: 2px solid #aaa;
    /* border-style: solid; */
    padding: 5px;
    width: 200px;
    box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12), 0 2px 4px -1px rgba(0,0,0,0.3);
  }

  .ChatControls {
    height: 135px;
    width: 200px;
    display: flex;
    flex-flow: column;
    position: fixed;
    align-items: left;
    justify-content: space-between;
    bottom: 30px;
    left: 40px;
  }

  .TimeStamp {
    color: #333;
    font-size: .50em;
    position: absolute;
    bottom: 0;
    padding: 10px;
    right: 15px;
  }
  
}
