.weatherWidget {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    grid-gap: 20px;
    -ms-grid-row-align: center;
    margin-top: 150px;
    margin-bottom: 150px;
    margin-right: 20px;
    margin-left: 20px;
    width: 100%;
    background-color: rgba(247, 231, 203, 0.87);
    font-size: 20px;
    border-radius: 20px
}

.heading {
    font-size: 25px;
    text-align: center
 
}

.weatherWidget img {
    height: 50px;
    width: 50;
}


.content {
    font-size: 35px
}

.p {
    size: 100px
}


